.logo{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.5em;
    color:$brand-color;
    text-decoration: none;
    &:hover{
        text-decoration:none;
        color:$brand-color;
        cursor: pointer;
    }
}
.popular-item{
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid $lightgray;
    a{
        color:$dark;
        &:hover{
            color: gray;
        }
    }
}